/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .gold{

  background: #ffd65e; /* Old browsers */
  background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffd65e 0%,#febf04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
 
}
.header-wrape{
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  height: 150px;
  padding: 20px;

}
.navbar{

  background: #ffd65e; /* Old browsers */
  background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffd65e 0%,#febf04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
}
*{margin: 0 auto;}
.search{
  width: 500px;
  height: 40px;
  border-radius: 3px;
  font-size: 20px;
  margin-top: 40px;
  padding-left: 20px;
}
.search-button{
  height: 45px;
  background: #ffd65e; /* Old browsers */
  background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffd65e 0%,#febf04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
  border-radius: 3px;
  width: 50px;
}

.right{
  float: right;
  color: white;
  font-weight: bold;

}
.navbar{
  height: 20px;
}
.center{

  margin-left: 20%;
  float: left;
  display: inline-block;
}
.cart-button{
  height: 50px;
  width: 50px;
}
.left{
  float: left;
  width: 100px;

}
.left img{
  height: 50px;
  width: 50px;
  margin-top: -5px;
}
.gold{
  list-style: none;
  margin-left: 200px;
  
}
.gold > li{
  float: left;
  border-left: 1px;
}
li > a{
  color: #353852;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
  padding-top: 3px;
  padding: 8px;

  font-size: 20px;
  transition: 0.5s;
}
.free{
  color: white;
  float: left;
}
.free p{
  padding-left: 20px;
}
li > a:hover{
  color: black;

  text-shadow: 2px 2px #EEE8AA;
  box-shadow: 1px 1px 15px 5px #EEE8AA;
  text-decoration: none;
  transition: 0.5s;
  background-color: transparent;
  
}
